<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>User Administration</title>
<link rel="shortcut icon" href="basketball0.png"/>
<link href="../../bootstrap.css" rel="stylesheet" />
<link href="../../meincssfile.css" rel="stylesheet" />

<script type="text/javascript"
	src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#usertable').DataTable();
			} );
		</script>
		<script type="text/javascript" src="uhr.js"></script>

</head>
<body class="background" background="Ballen.jpg">
	<div class="container-fluid navigation navbar-fixed-top">
		<div class="row">
			<div class="col-md-9 nav1">
				<a class="navbar-brand" href="./myevents"><img class="logo" src="logowhite.png"></img></a>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="./myevents">My Events</a></li>
						<li><a href="./events">Events</a></li>
						<li><a href="./createevent">Create Event</a></li>
						<li><a href="./useradmin">User Administration</a></li>
						<li><a href="./category">Category</a></li>
						<li><a href="./about">About Us</a></li>
					
					</ul>
				</div>
			</div>

			<div class="col-md-2">
				<ul class="nav navbar-nav navbar-right">
					<ul class="nav navbar-nav navbar-left">
						<li><a href="./myevents"><img src="user.png"></img> <span
								class="sr-only">(current)</span></a></li>
					</ul>
				</ul>
			</div>

			<div class="col-md-1">
				<ul class="nav navbar-nav navbar-left status">
					<li><p th:inline="text" href="/myusers">Userid:[[${#httpServletRequest.remoteUser}]]!</p>
						<!-- <a href="/myusers">UserID: [[${#httpServletRequest.remoteUser}]]<span class="sr-only"></span></a>
					 -->
						<form th:action="@{/logout}" method="post">
							<input type="submit" value="Log Out" class="logout"/>
						</form></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row hauptteil">
		<div class="col-sm-1">
		<div class="clock">
			   <ul>
			     <li id="hours"> </li>
			     <li id="point">:</li>
			     <li id="min"> </li>
			   </ul>
			</div>
	</div>
	
	<div class="col-sm-11">
		<div
			class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tablebackground">
			<h1 class="page-header">Users</h1>
			<div class="table-responsive">
				<table id="usertable" class="table">
					<thead>
						<tr>
							<th>User-ID</th>
							<th>Password</th>
							<th>First name</th>
							<th>Last name</th>
							<th>Email</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user,iterStat: ${userliste}">
							<td><span th:text="${user.getUserid()}"></span></td>
							<td><span th:text="${user.getUserpwd()}"></span></td>
							<td><span th:text="${user.getVorname()}"></span></td>
							<td><span th:text="${user.getNachname()}"></span></td>
							<td><span th:text="${user.getEmail()}"></span></td>
							<td><a th:href="@{/useradmin/delete(id=${user.getUserid()})}">Loeschen</a></td>
							<td><a th:href="@{/changeuser(id=${user.getUserid()})}">Aendern</a></td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</div>
	<!-- <footer class="footer">
		<div class="container">
			<p class="text-muted">Platziere hier den Inhalt für den fixierten
				Footer.</p>
		</div>
	</footer> -->
</body>
</html>


